{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<h1>Fight Human Trafficking</h1>
<div class="container">
<div class="col-lg-4 col-lg-offset-4">
<h2>Register for an Account</h2>
<br>
<p><span class="label label-danger">Warning:</span> Content presented on this site may contain graphic and/or sexually explicit text or images.</p>
<br>
<form method="post" action="">
    {% csrf_token %}
    <table class="table">
    {{ form.as_table }}
    </table>
    <input type="submit" class="btn btn-success" value="{% trans 'Submit' %}" />
</form>
</div>
</div>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
